body {
  width: 75%;
  margin: 0 auto;
}

#banner {
  width: 100%;
  height: 400px;
  background-image: url(http://static.celebuzz.com/uploads/2010/09/09/msg-128406830425-3.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.sidebar {
  float:left;
  width: 25%;
  /*height: 900px;*/
}

.profiles {
  float: right;
  width: 70%;
}

.block {
  height: 300px;
}

.float-left {
  float: left;
  margin-right: 20px;
}

.float-right {
  float: right;
  margin-left: 20px;
}

.wrap {
  height: 250px;
}
